@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Abril Fatface', cursive;*/

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.beer {
  font-family: 'Abril Fatface', cursive;
}

.description {
  font-family: 'Open Sans', sans-serif;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
